*{
    padding: 0%;
    margin: 0px;
}
body {

}
header{
    margin:0%;
    padding-left: 50px;
    font-family:Roboto, sans-serif;
    font-size: 16px;
    font-style: normal;
    font: height 26.4px;
    color:rgba(158, 156, 156, 0.76) ;
    
    
}
html{
    
    background: linear-gradient(90deg, rgb(0,0,0,0.85), rgba(0, 0, 0,0.7)), url('./images/bg01.jpg')no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

   
    
}

h1{
    margin:0%;
    font-family:Roboto, sans-serif;
    font-size: 52px;
    font-style: normal;
    font: height 65px;
    color:#ffffff;
   }
   input{
      background: transparent;
       border-radius: 5px;
       color:rgba(158, 156, 156, 0.76) ;
       height: 65px;
       width: 250px;
       text-size-adjust: focus;
   }
   button{
       background-color:#1cb495 ;
       color:#ffffff;
        border-radius: 5px;
   }
   
   p{
       margin: 5px;
    }
   
   #message{
       color:#1cb495
   }
   #contents{
       margin-bottom: 15px;
   }