body{
    margin:0%;
    font-family:Roboto, sans-serif;
    font-size: 16px;
    font-style: normal;
    font: height 26.4px;
    color:rgba(158, 156, 156, 0.76) ;
    background-image: 
    linear-gradient(90deg, rgb(0,0,0,0.85), rgba(
        0, 0, 0,0.7)), url('./images/bg01.jpg');
  width: 100%;
    
}

h1{
    margin:0%;
    font-family:Roboto, sans-serif;
    font-size: 52px;
    font-style: normal;
    font: height 65px;
    color:#ffffff;
   }
   input{
      background: transparent;
       border-radius: 5px;
       color:rgba(158, 156, 156, 0.76) ;
   }
   button{
       background-color:#1cb495 ;
       color:#ffffff;
        border-radius: 5px;
   }
   p{padding:10px}
   
   #message{
       color:#1cb495
   }